@keyframes screenshake1 {
    from, to {
      transform: translate(0px, 0px) rotate(0deg);
    }
    30% {
      transform: translate(6.5px, 6.5px) rotate(0.6deg);
    }
    50% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    70% {
      transform: translate(-6.5px, -6.5px) rotate(-0.6deg);
    }
}

@keyframes screenshake2 {
    from, to {
      transform: translate(0px, 0px) rotate(0deg);
    }
    30% {
      transform: translate(-6.5px, -6.5px) rotate(-0.6deg);
    }
    50% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    70% {
      transform: translate(6.5px, 6.5px) rotate(0.6deg);
    }
}

@keyframes screenshake3 {
    from, to {
      transform: translate(0px, 0px) rotate(0deg);
    }
    30% {
      transform: translate(6.5px, -6.5px) rotate(0.6deg);
    }
    50% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    70% {
      transform: translate(-6.5px, 6.5px) rotate(-0.6deg);
    }
}

@keyframes screenshake4 {
    from, to {
      transform: translate(0px, 0px) rotate(0deg);
    }
    30% {
      transform: translate(-6.5px, 6.5px) rotate(-0.6deg);
    }
    50% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    70% {
      transform: translate(6.5px, -6.5px) rotate(0.6deg);
    }
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.screen-shake1 {
    animation-duration: 0.2s;
    animation-name: screenshake1;
}

.screen-shake2 {
    animation-duration: 0.2s;
    animation-name: screenshake2;
}

.screen-shake3 {
    animation-duration: 0.2s;
    animation-name: screenshake3;
}

.screen-shake4 {
    animation-duration: 0.2s;
    animation-name: screenshake4;
}

#canvas {
    border: 7px solid rgb(28, 29, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); // For Chrome
}

#health-bar {
    display: none;
    width: 50px;
    border: 7px solid rgb(28, 29, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transform: rotateX(180deg);
    -webkit-transform:rotateX(180deg); // For Chrome
}

#score-container {
    display: none;
    position: absolute;
}

#score {
    position: relative;
    top: 15px;
    color: rgb(255, 224, 48);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.loading {
    position: absolute;
    top: 280px;
    font-size: 40px;
    color: azure;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.below {
    top: 330px;
}

#instructions-elements {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    width: 480px;
    top: 210px;
}

.instructions-text {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.2;
    font-size: 19px;
    font-weight: lighter;
    color: azure;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.direction {
    position: relative;
    padding: 10px;
    margin: 10px;
    background-color: rgba(118, 134, 213, 0.5);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.direction:hover {
    opacity: 65%;
    background-color: rgba(165, 176, 229, 0.8);
}

#nextback-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.next {
    width: 41px;
}

.next-only {
    left: 399px;
}

.back {
    width: 42px;
}