.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#canvas {
    border: 7px solid rgb(28, 29, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}

#health-bar {
    display: none;
    width: 50px;
    border: 7px solid rgb(28, 29, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}