.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#canvas {
    border: 7px solid rgb(28, 29, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); // For Chrome
}

#health-bar {
    display: none;
    width: 50px;
    border: 7px solid rgb(28, 29, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transform: rotateX(180deg);
    -webkit-transform:rotateX(180deg); // For Chrome
}

#score-container {
    display: none;
    position: absolute;
}

#score {
    position: relative;
    top: 15px;
    color: rgb(255, 224, 48);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}